* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

/* div {
    border: 1px solid yellow;
} */

header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 50px;
}

.head {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.links {
    display: flex;
}
.link {
    margin-right: 10px;
}

.bigHead {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5em 10%;
}
.bigHead .left {
    font-size: 28px;
    font-weight: bolder;
    width: 40%;
    
}
.bigHead .left p {
    font-size: 18px;
    font-weight: 400;
    /* margin-top: 1em; */
    padding: 10px 0;
}
.bigHead .right {
    flex-basis: 60%;
}

.banner {
    width: 70%;
    display: block;
    margin: auto;
    padding: 2em;
    /* border: 1px solid #F9FAF8; */
}

.signupB {
    background-color: #3882F6;
    padding: 10px 32px;
    color: #F9FAF8;
    font-weight: 800;
    font-size: large;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
}